* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 30px;
}
.container {
  position: relative;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 300px 200px;

  border-radius: 20px;
}
.card {
  height: 500px;
  width: 390px;
  box-shadow: 1px 1px 10px gray;
  border-radius: 20px;
  text-align: center;
  background-color: white;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 20px;
  height: 50%;
  width: 100%;
  background-color: rgb(16, 140, 241);
}
.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: rgb(16, 140, 241);
}
.overlay::after {
  border-radius: 0 20px 0 0;
  background-color: white;
}
.text-content {
  position: absolute;
  top: 50%;
  text-align: center;
}
.text-content h3 {
  font-size: 30px;
  margin-top: 20px;
}
.text-content p {
  margin-top: 20px;
  text-align: justify;
  width: 90%;
  margin: auto;
}
.btn {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 30px;
  background-color: rgb(16, 140, 241);
  color: white;
  border: none;
}
.img {
  margin-top: 15%;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid rgb(16, 140, 241);
  outline: 5px solid white;
}

@media screen and (max-width:500px) {
  .main-container{width: 100%; flex-direction: column;}
  
}